<div class="field">
	<%= label_tag(:search, "Search your Pokemon:") %>
	<%= text_field_tag(:search) %>
	<button id="searchPokemonBTN">Search</button>
	<ul id="propositions">
	</ul>
</div>

<div id="result">
</div>