<div class="field">
	<div class="container">
		<div class="introduction page-header">
	        <h1>CatchAll</h1>
	        <h3>The online Bible for Pokémon Masters !</h3> 
	        <p>
	          You want to know more about any Pokémon of any generation ? You're in the right place !<br> Just type the name of the Pokémon that you're looking for and let us doing the rest !
	        </p>
	        <p id="pokemonMax" class="hidden"><%= @maxPokemon %></p>
	    </div>

	    <div class="col-lg-12 ui-widget" id="searchBar">
			<%= text_field_tag(:search, nil, placeholder: "Search by name..." ,class: "form-control") %>
	    </div><!-- /.col-lg-6 -->
    </div> <!-- /container -->
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Pokémon's informations</h3>
    </div>
    <div class="panel-body">
      <nav id="pageNavigation">
        <ul class="pager">
          <li class="previous"><button disabled id="prevButton"><a><span aria-hidden="true">&larr;</span> Previous</a></button></li>
          <li class="next"><button id="nextButton"><a>Next <span aria-hidden="true">&rarr;</span></a></button></li>
        </ul>
      </nav>
      <hr>
      <div class="col-sm-6 col-md-6">
      	<%= image_tag('pokemon/0.png', id:"pokemonImage") %>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="page-header" id="pokemonName">
          <h2>Hey ! Try searching a Pokémon !</h1>
        </div>
        <div class="panel panel-default">
          <!-- Table -->
          <table class="table" id="pokemonInformations">
            <thead>
              <tr>
                <th>Properties</th>
                <th>Values</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>National ID</td>
                <td id="tdId">-</td>
              </tr>
              <tr>
                <td>Name</td>
                <td id="tdName">-</td>
              </tr>
              <tr>
                <td>Species</td>
                <td id="tdSpecies">-</td>
              </tr>
              <tr>
                <td>Height</td>
                <td id="tdHeight">-</td>
              </tr>
              <tr>
                <td>Weight</td>
                <td id="tdWeight">-</td>
              </tr>
              <tr>
                <td>Attack / Defense</td>
                <td id="tdAttackDefense">-</td>
              </tr>
              <tr>
                <td>Type 1</td>
                <td id="tdType1">-</td>
              </tr>
              <tr>
                <td>Type 2</td>
                <td id="tdType2">-</td>
              </tr>
              <tr>
                <td>Evolution</td>
                <td id="tdEvolution">-</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <form action="">
            <button id="seenButton" class='btn btn-warning' style="cursor:initial"
              disabled onclick="return false;">Seen</button>
            <button id="caughtButton" class='btn btn-info' style="cursor:initial"
              disabled onclick="return false;">Caught</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
