html, body{
	height: 100%;
}
body{
	padding-top: 70px;
	background-color: #F9F9F9;
}

label{
	font-weight: lighter;
	font-size: 16px;
}

a{
	color :#563d7c;
}

a:hover{
	color: #573f7b;
	cursor: pointer;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	font-weight: lighter;
}

td{
	vertical-align: inherit !important;
	text-transform: capitalize !important;
}

.col-lg-12{
	padding: 0 !important;
}

footer{
	margin-top: 50px;
	background-color: white;
	padding: 10px 0;
	box-shadow: 0 0 2px gray;
}

footer > .container{
	padding-top: 10px;
	color:#563d7c
;
	font-weight: lighter;
}

footer > .container > p > a{
	color: #563d7c
;
	text-decoration: underline;
}

.noMarginBottom{
	margin-bottom: -60px !important;
}

.navbar-default{
	background-color: white;
	border:none;
	box-shadow: 0 0 2px gray;
	border-radius: 0px;
	font-weight: lighter;
}

.navbar-default .navbar-nav>li>a{
	color:#563d7c
;
	font-size: 16px;
}

.navbar-default .navbar-brand{
	color: #563d7c
;
	font-size: 20px;
}

.introduction{
	text-align: center;
	font-weight: lighter;
}

#searchBar{
	margin-top: 5px;
	margin-bottom: 20px;
}

#searchBar > div > input{
	height: 60px;
	font-size: 18px;
	font-weight: lighter;
}

#searchBar > div > span > button{
	height: 60px;
	width: 150px;
	background-color: #563d7c
;
	color: white;
	font-size: 18px;
	font-weight: lighter;
}

#pageNavigation{
	margin-top: -10px;
}



#pokemonName{
	margin-top: -10px;
}

#pokemonInformations{
	font-weight: lighter;
}

#pokemonInformations tr td:first-child{
	width: 30%;
}
#pokemonInformations tr td:nth-child(2){
	width: 70%;
}

#pokemonImage{
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto !important;
}

.btn-purple{
	background-color: #563d7c;
	color: white;
	font-weight: lighter;
	transition:0.3s;
}

.btn-purple:hover{
	color:white;
	background-color: #573f7b;
}

.btn-purple:visited{
	color:white !important;
}

.ui-widget-content{
	background: #FFF !important ;
}

.ui-menu-item:hover, .ui-state-focus{
	background: #F5F5F5 !important ;
	border: 0 !important;
	color: #573f7b !important;
	font-weight: normal !important;
	margin: 0 !important;
}

.ui-menu-item{
	padding: 10px !important;
}


.previous > button{
	float: left
}

.next > button{
	float: right
}

.previous > button,.next > button {
	display: inline-block;
	padding: 5px 14px;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 15px;
}

.previous > button:disabled,.next > button:disabled {
	background-color: #EEE;
	opacity: .5;
}





/*---------------------Login----------------------*/

#logContainer{
	padding-bottom: 100px;
	font-weight: lighter;
}

.bg-danger, .bg-success {
	text-align: center;
  	font-weight: bold;
  	color:#DD0000;
  	margin-top: 20px;
  	margin-bottom: 0px;
  	padding: 15px 0;
  	border-radius: 4px;
}

.bg-success {
  	color: green !important;
}

#form-login li.active:hover{
	background: white !important;
}

/*--------------------Ranking---------------------*/
.thumbnail{
	font-weight: lighter;
	min-width: 150px;
	min-height: 160px;
	margin-top: 25px;
}

.thumbnail h1{
	text-align: center;
}


.thumbnail p{
	text-align: center;
	font-size: 16px;
}

.thumbnail img{
	margin-top: 20px;
	max-width: 150px;
	max-height: 150px;
	margin: auto;
	width: 100%;
}

.thumbnail:hover{
	background: transparent;
}

.table td{
	padding: 10px 0;
}
.pagination>li>a, .pagination>li>span{
	color: #563d7c;
}

/*------------------Contact-------------------*/

#contactHeader{
	background-color: #563d7c;
	width: 100%;
	padding: 40px;
	margin-top: -20px;
	font-weight: lighter;
	margin-bottom: 60px;
}

#contactHeader h1{
	text-align: center;
	font-size: 40px;
	color: white;
	font-weight: lighter;
	line-height: 60px;
}

#contactForm{
	padding-bottom: 100px;
}

#contactForm input[type="text"]{
	margin-bottom: 20px;
	height: 50px;
	font-size: 18px;
	font-weight: lighter;
}

#contactForm textarea{
	resize:vertical;
	margin-bottom: 20px;
	height: 400px;
	padding: 10px;
	font-size: 16px;
	font-weight:lighter;
}

#contactForm .btn-purple {
	width: 100%;
	font-size: 18px;
}

/*---------------------- MegaBookedex ---------------*/

.grayScale{
	filter:grayscale(1);
	-webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    opacity: 0.3
}

.pokeball{
	height: 32px;
	width: 32px !important;
	position: absolute;
	bottom: 25px;
	right:20px;
}

.removeBadgeButton, .addBadgeButton {
	width: 100%;
}

.removeBadgeButton {
	background-color: #D87093;
}

.removeBadgeButton:hover {
	background-color: #C06785;
}

.huntActionColumn{
	margin-top: 0px;
}

.thumbnail h4{
	text-align: center;
	margin-top: 20px;
}

.thumbnail .pokemonImg{
	min-width: 150px;
	min-height: 150px;
	text-align: center;
}

.huntActionButton button{
	width: 49%;
}

li[disabled=disabled] a {
	color: #A9A9A9 !important;
	cursor: not-allowed;
}

li[disabled=disabled] a:hover {
	background-color: initial !important;
}

li.activeNavButton a {
	font-weight: bold;
	color: #fff !important;
	background-color: #563d7c;
}

nav select{
	width: 200px !important;
	float: right !important;
	margin-top: 20px;
	height: 32px !important;
}

nav select option{
	padding: 5px;
}

/* Ranking */

.medals{
	max-width: 300px !important;
	max-height: 300px !important;
}

.thumbnail h3{
	text-align: center;
	margin-top: -10px;
}

#Stage_jbeeb_3{
	margin: 0 auto !important;
}
