<div class="container">
	<h1>Account informations</h1>
	<div>
		<span>Login : </span><%= @trainer.login %>
	</div>
	<div>
		<span>Email : </span><%= @trainer.email %>
	</div>
	<form>
		<button class="btn btn-purple"><%= link_to 'Update', edit_trainer_registration_path %></button>
	</form>
</div>

