<div class="container">
	<h1>Account informations</h1>
	<div>
		<span>Login : </span><%= @trainer.login %>
	</div>
	<div>
		<span>Email : </span><%= @trainer.email %>
	</div>
	<br/>
	<%= link_to 'Update', edit_trainer_registration_path, :class=>'btn btn-purple' %>

</div>

